@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url('../src/assets/images/bg-mobile.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    position: relative;
  }

  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-image: url('../src/assets/images/bg-test2.webp');
    background-size: cover;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 , h4{
  font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.05em
}

p{
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

button, input{
  font-family: "Kanit", sans-serif;
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

span{
  font-family: "Kanit", sans-serif;
    font-weight: 300;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.pulse {
  animation: pulse 1.5s ease-in-out infinite;
}